# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
main.js
*.js.map
docs/test-vault/.obsidian/plugins/flashcards/main.js
docs/test-vault/.obsidian/plugins/flashcards/manifest.json

# scripts
move.sh

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Github
.DS_Store

# Test-vault
docs/test-vault/.obsidian/workspace
