# Obsidian
data.json

# IntelliJ
.idea/
*.iml

# npm
node_modules/
package-lock.json

# Build
main.js

# Scripts
move.sh

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# macOS
.DS_Store

# Test vault
docs/test-vault/.obsidian/*.json
!docs/test-vault/.obsidian/community-plugins.json
docs/test-vault/.obsidian/plugins/flashcards-obsidian/*
!docs/test-vault/.obsidian/plugins/flashcards-obsidian/.hotreload
!docs/test-vault/.obsidian/plugins/hot-reload/*
